<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>账号注册</title>
</head>
<body>
<h2>账号注册</h2>
请输入姓名：<input type="text" id="name"/><br><br>
请输入密码：<input type="password" id="password" placeholder="仅支持整数" /><br><br>
请确认密码：<input type="password" id="passwordTwo" placeholder="仅支持整数"/><br><br>
请选择角色：<select id="job" style="width: 173px">
    <option value="管理员">管理员</option>
</select><br><br>
<button onclick="register()">注册</button>
</body>
<script>
    function register() {
        var name = $("#name").val();
        var password1 = $("#password").val();
        var password2 = $("#passwordTwo").val();
        var  job = $("#job").val();
        if (Number(password1) == Number(password2)){
            $.post("/register",{name:name,password:password1},function (res) {
                if (res ==true){
                    alert("注册成功");
                    window.location.href ="/login";
                } else {
                    alert("注册失败，请检查数据重试");
                }
            })
        }else {
            alert("两次密码不一致！");
        }
    }
</script>
<script th:src="@{layui/layui.js}"></script>
<script th:src="@{js/wow.min.js}"></script>
<script th:src="@{js/index.js}"></script>
</html>