<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wy.test.mapper.SysMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wy.test.entity.SysMenu">
        <id column="menu_id" property="menuId" />
        <result column="name" property="name" />
        <result column="perms" property="perms" />
    </resultMap>

    <!-- 查询用户权限集合 -->
    <select id="selectSysMenuByRoleId"  parameterType="long" resultType="com.wy.test.entity.SysMenu" >
      SELECT sm.* FROM sys_menu sm
      LEFT JOIN sys_role_menu se ON sm.menu_id = se.menu_id
      WHERE se.role_id = #{roleId}
    </select>

</mapper>
